<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.LoginServlet</servlet-class>
</servlet>

<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.RegisterServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>CheckformServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.CheckformServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>JudgeServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.JudgeServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.SendEmailServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>servlet.ChangePasswordServlet</servlet-class>
</servlet>
 <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckformServlet</servlet-name>
    <url-pattern>/servlet/CheckformServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>JudgeServlet</servlet-name>
    <url-pattern>/servlet/JudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/servlet/SendEmailServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/servlet/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
 </web-app>